@media only screen and (max-width: 600px) {
    nav{
        height: 50px;
        margin-left:0;
        }
        .Details > div{
            columns: 1;
        }
        .Details{
            height: 1200px;
        }
        .Details > div >h2{
            font-size: 20px;
        }
        .Debit{
            width: 950px;
        }
        .Debit > div{
            left: 50px;
        }
        .Debit > div > h2{
            margin-top: 50px;
            margin-left: 0px;
            font-size: 50px;
        }
        .one{
            width: 200px;
        }
        .two{
            width: 300px;
        }
        .Credit{
            height: 950px;
        }
        .Credit > div{
            left: 50px;
        }
        .Credit > div > h2{
            margin-top: 50px;
            margin-left: 0px;
            font-size: 50px;
        }
        .contaier{
            margin-left: 10%;
            margin-top: 50px;
            background-color: #a28047;
            border-radius: 20px;
            width: 400px;
            height: 500px;
            overflow:auto ;
        }
        .lists{
            width: 100%;
            height: 200%;
        }
        .lists > div:nth-child(1){
            background-color: black;
        }
        .lists > div{
            margin-top: 10px;
            padding: 15px;
            background-color: transparent;
        }
        .lists > div > span:nth-child(1){
            position: relative;
            left: -70px;
        }
        .lists > div > span:nth-child(2){
            position: relative;
            left: -30px;
        }
        .lists > div > span:nth-child(3){
            position: relative;
            left: 30px;
        }
        .lists > div > span:nth-child(4){
            position: relative;
            left: 60px;
        }

}